{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Sign Up for ngo</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="login-page" >
		<div class="form" >
			<form class="reg-form" action = "{% url 'account:RegisterAsNgo' %}" method="post">
				{% csrf_token %}
				<input type="text" name="first_name" size="40" maxlength="30" pattern="^[a-zA-Z]'?[-'a-zA-Z]+$" placeholder="NGO name" required/>
				<input type="email" name="email" size="50" maxlength="256" placeholder="Your contact e-mail" required/>
				<input type="password" name="password1" minlength="6" maxlength="32" placeholder="Password" required>
				<input type="password" name="password2" placeholder="Confirm password" required/>
				<input type="number" min = "0" name="phone" placeholder="Contact Number" required />
				<input type="text" name="address" maxlength="500" minlength="1" placeholder="Address" required/>
				<input type="text" name="country" maxlength="50" minlength="1" placeholder="country" required>
				<input type="number" name="pincode" minlength="1" placeholder="pincode" required>
				<input type="url" name="weblink" placeholder="web link for the ngo" required />
				<button type="submit">create</button>
				<p>Already registered? <a href="{% url 'account:LoginAsNgo' %}" >Login</a></p>
			</form>
		</div>
  </div>
 <!-- <div class="loader"></div>-->
	
		
         <!--script-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
			<script type="text/javascript">
				$('p a').click(function(){
					$('form').animate({height: "toggle", opacity:"toggle"}, "slow");
				});
   //Still working  on this part
  /*  $('button').click(function(){    $('.loafter,  form').animate({height:"toggle", opacity:"toggle"}, "slow");
    });*/
			</script>
	</body>
</html>