{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Requirements</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleindex.css' %}">
	<STYLE>A {text-decoration: none;} </STYLE>
</head>
<body>
	<section id="services" class="services">
	<div class="container">
		<button class='btn btn-secondary'>
			<a href="{% url 'account:index' %}">Logout</a>
		</button>
		<h1 class="section-heading">
			<span>Upload Requirements</span>
		</h1>
		<p>                </p>
		<form method="POST" action="{% url 'account:addNgoRequirement' user_id=user.id %}">
			{% csrf_token %}
			<div class="container-1">
				
					{% for i in Equipments %}
					<div class="card-wrapper">
						<div class="card">
							<img src="/media/{{i.image}}" width="125px" height="125px"  alt="">
							<h2>{{i.equi_name}}</h2>
							<input type="number" min="0" placeholder="Enter Quantity" name="{{i.id}}" required>
							<!--<button class="btn btn-secondary">Donate</button>-->
						</div>
					</div>
					{% endfor %}
			</div>
			<button class="btn btn-primary" type="submit" style="display:flex;justify-content:space-between;margin:1rem auto;">Request</a></button>
		</form>
	</div>

</section>
</body>
</html>